.container
  .header チャットグループが作成されました。
  .side-bar
    .side-bar-up never-stop
    .side-bar-middle
      .latest-post-title Politics
      .latest-post-content persistent
      .latest-post-title aaaaaaaa
      .latest-post-content まだメッセージはありません
      .latest-post-title Sampleグループ
      .latest-post-content aaaaaaaaa
  .content
    .content-upper
      .content-upper-groupName-groupMember-editButton
        .groupName-groupMember
          .groupName sampleグループ
          .groupMember aoki,aoki,aoki
        .editButton Edit
    .content-middle
    .content-lower
      .new-post
