.wrapper {
  height: 100%;
  color: white;

  .create-message {
    background-color: #38AEF0;
    text-align: center;
  }

  .side-bar {
    width: 300px;
    height: 100%;
    float: left;

    .header {
      background-color: #253141;
      height: 100px;
      line-height: 100px;
      padding: 0 20px;
      &__name {
        display: inline-block;
        font-size: 16px;
        font-weight: bold;
      }
      &__lists {
        display: inline-block;
        float: right;
        .list {
          display: inline-block;
          .icon {
            color: white;
          }
        }
      }
    }

    .groups {
      height: calc(100vh - 100px);
      background-color: #2f3e51;
      padding: 0 20px;
      .group {
        padding: 20px 0 40px;
        &__name {
          font-size: 15px;
        }
        &__message {
          padding-top: 5px;
          font-size: 11px;
        }
      }
    }
  }


  .chat {
    width: calc(100vw - 300px);
    box-sizing: border-box;
    float: left;

    .header {
      box-sizing: border-box;
      height: 100px;
      padding: 0 40px;
      border-bottom: solid 1px #eeeeee;
      .left-header {
        float:left;
        &__title {
          color: #333;
          font-size: 20px;
          margin-top: 35px;
        }
        &__members {
          font-size: 12px;
          color: #999999;
          margin-top: 15px;
          .members {
            display: inline-block;
            padding-right: 5px;
          }
        }
      }
      .right-header {
        border: 1px solid #38AEF0;
        color: #38AEF0;
        float: right;
        height: 40px;
        line-height: 40px;
        margin-top: 28px;
        padding: 0 20px;
      }
    }

    &-middle {
      clear: both;
      height: calc(100vh - 96px - 90px);
      background-color: #e8ecf2;
      padding: 0 40px;
      .post {
        padding-top: 46px;
        .poster-name {
          float: left;
          color: #434A54;
          font-size: 16px;
          font-weight: bold;
        }
        .time {
          float: left;
          margin-left: 10px;
          font-size: 12px;
          color: #999999;
        }
        .post-content {
          clear: both;
          padding-top: 10px;
          padding-bottom: 40px;
          color: #434A54;
          font-size: 14px;
          font-weight: bold;
        }
      }
    }
    &-lower {
      background-color: #d6d7d8;
      height: 90px;
      & form {
        padding: 0 40px;
        & input {
          height: 50px;
          margin: 20px 0;
          padding-left: 10px;
        }
        & submit {
          background-color: #38AEF0;
          height: 50px;
          margin-left: 15px;
        }
      }

    }
  }

}
